@keyframes paddingMove {
  0% {padding-left: 7px;}
  33% {padding-left: 17px;}
  66% {padding-left: 10px;}
  100% {padding-left: 17px;}
}

@keyframes scrollMe {
  0% {left: 4px;}
  100% {left: 6px;}
}

@keyframes portfolioHover {
  
}